<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizmaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.QuizMaster"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.QuizActivity" />
        <activity android:name=".ui.activity.ResultActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.AddQuestionActivity" />

    </application>
</manifest>